body {
    font-family: 'Figtree', sans-serif;
    margin: 0 auto;
}
.container{
    max-width: auto;
    height: 100vh;
    background: #eee;
}
.navbar{
    max-width: auto;
    height: 70px;
    overflow-y: hidden;
    background: transparent linear-gradient(90deg, #5CA2A5 0%, #2E585C 91%);
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    width: 150px;
    height: 30px;
    background: white;
    border-radius: 2px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: #2A5155;
    font-family: 'Figtree', sans-serif;
}
.logo{
    width: 110px;
    height: 110px;
    background: url('src/Logo.png') no-repeat;
    background-size: cover;
    justify-content: left;
    align-items: left;
}
.first_bg {
    width: auto;
    height: 800px;
    background:url('src/bg-1.jpg') rgba(0, 0, 0, 0.4) no-repeat; /* Utilisation de rgba pour simuler l'opacité sur le fond */
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.second_bg {
    width: 50%;
    height: 100%;
    background: transparent url('src/bg-2.jpg') 0% 0% no-repeat padding-box;
    background-size: cover;
}
h2{
    color: #B01513;
    margin: 30px;
    text-decoration: underline;
}
h1, h3, h5{
    color: #2A5155;
    margin: 30px;
}
.bigbox{
    background: transparent linear-gradient(0deg, #33696E 0%, #5CA2A5 100%) 0% 0% no-repeat padding-box;
    width: 400px;
    height: 450px;
    margin: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box1, .box2{
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
input[type="text"], .box1, .box2{
    font-family: "Figtree", sans-serif;
    font-size: 14px;
    color: #2A5155;
    width: 350px;
    height: 40px;
    outline: none;
    line-height: 40px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 2px solid transparent;
    transition: 0.1s ease;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    -ms-transition: 0.1s ease;
    -o-transition: 0.1s ease;
}
.bigbox form select, .bigbox form input, .country{
    width: 165px;
    line-height: 40px;
    margin: 5px;
    font-family: "Figtree", sans-serif;
    font-size: 15px;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
    color: #2A5155;
  }
  
  .bigbox form select {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
  }
#name4{
    font-family: "Figtree", sans-serif;
    font-size: 14px;
    color: #2A5155;
    margin: 10px;
    width: 350px;
    height: 80px;
    line-height: 20px;
    outline: none;
    border-radius: 6px;
    border: transparent;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
a {
    background:#D9EEED ;
    width: 350px;
    height: 50px;
    margin: 6px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    color: #2A5155;
}
a:hover{
    color: #5CA2A5;
}

.sec_bg{
    width: auto;
    height: 430px;
    background:#F4F9F9 no-repeat; /* Utilisation de rgba pour simuler l'opacité sur le fond */
    background-size: cover;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    color: #B01513;
    font-family:"Figtree", sans-serif;
    font-size: 30px;
    font-weight: bold;
}
/* i{
    
} */